#include "../../../common/common-pinctrl.dtsi"

/ {
    chosen {
        zephyr,console = &uart30;
    };
};

&uart20 {
    status = "disabled";
};

&uart30 {
    status = "okay";
};

&spi20 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi_dummy>;
    pinctrl-names = "default";
};
