/ {
    chosen {
        zephyr,console = &uart30;
    };
};

&adc {
    status = "okay";
    compatible = "nordic,nrf-saadc";
};

&uart20 {
    status = "disabled";
};

&uart30 {
    status = "okay";
};
